body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.box {
    width: 200px;
    height: 120px;
    background-color: lightblue;
    margin: 10px;
    line-height: 120px;
    font-size: 20px;
}

/* responsive design */
@media(max-width: 576px) {
    .container {
        flex-direction: column;
        align-items: center;
        background-color: lightgreen;
    }
}

@media(max-width: 320px) {
    .container {
        flex-direction: column;
        align-items: center;
        background-color: lightcoral;
    }
}

