body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div {
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.block {
    display: block;
    background-color: lightblue;    
}

.inline {
    display: inline;
    background-color: lightcoral;
}

.inlineBlock {
    display: inline-block;
    background-color: lightgreen;
}

.none {
    display: none;
}