body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div {
    width: 300px;
    border: 3px solid black;
    margin: 20px auto;
}

.box1 {
    padding: 30px;
    background-color: lightblue;
}

.box2 {
    padding: 30px;
    background-color: lightcoral;
}

.box3 {
    padding: 30px;
    background-color: lightcyan;
}